<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string> <!-- Ou "app-store" para distribuição -->
    <key>teamID</key>
    <string>SUA_TEAM_ID_DA_APPLE</string> <!-- Encontre no Apple Developer Portal -->
    <key>compileBitcode</key>
    <false/> <!-- Desative se não usar Bitcode -->
</dict>
</plist>